
@{
    ViewData["Title"] = "Createaccountresult";
}
<section>
    <div class="db">
        <div class="db-l">
            <div class="db-l-1">
                <ul>
                    <li>
                        <img src="~/images/db-profile.jpg" alt="" />
                    </li>
                    <li>Full Name here</li>
                </ul>
            </div>
            <div class="db-l-2">
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Profile"><img src="~/images/icon/dbl6.png" alt="" /> My Profile</a>
                    </li>
                    <li>
                        <a href="#"><img src="~/images/icon/dbl1.png" alt="" /> All Bookings</a>
                    </li>
                    <li>
                        <a href="#"><img src="~/images/icon/dbl2.png" alt="" /> Gift Cards</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="db-2">
            <div class="db-2-com db-2-main">
                <h4>Account Created</h4>
                <div class="db-2-main-com db-2-main-com-table db-com-p">
                    <h5>Successful</h5>
                    <p>Congratulations! your account has been created. Book your travel ticket and earn points to access lots of bonus features.</p>
                </div>
            </div>
        </div>
        <div class="db-l">
            <div class="db-l-1">

            </div>
        </div>
    </div>
</section>