
@{
    ViewData["Title"] = "Developer";
}


<section>
    <div class="db">
        <div class="db-l" style="opacity:0;">
            <div class="db-l-1">

            </div>
        </div>
        <div class="db-2">
            <div class="db-2-com db-2-main">
                <h4>Developer</h4>
                <div class="db-2-main-com db-2-main-com-table db-com-p" style="padding: unset !important;">
                    <div class="contact__form v2-search-form">
                        <div class="alert alert-success contact__msg" style="display: none" role="alert">
                            Thank you message
                        </div>
                       @* Message Here *@

                    </div>
                </div>
            </div>
        </div>
        <div class="db-l" style="opacity:0;">
            <div class="db-l-1">

            </div>
        </div>
    </div>
</section>


